<%= form_with(model: @booking, url: planet_bookings_path(@planet)) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :start_date, as: :date %>
  <%= form.input :end_date, as: :date %>
  <%= form.input :total_price %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :planet_id, value: @planet.id %>

  <div class="actions">
    <%= form.submit 'Create a new booking' %>
  </div>
<% end %>
