<div class="global">
  <div class="container-left">
    <div class="navbar-left">
      <div class="sidebar">
        <% @categories.each do |category| %>
          <%= link_to planets_path(category: category.name) do %>
            <div class="nav-link"><%= category.name %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-right">
    <div class="header">
      <div><%= params[:category] %></div>
      <div class="search">
        <input type="text" id="search-name" class="searchbar" placeholder="Solar systems...">
        <%# <input type="submit" value="Search"> %>
      </div>
      <div class="list-system"></div>
    </div>
    <div class="cards-container p-3">
    <% @planets.each do |planet| %>
      <%= link_to planet_path(planet) do %>
      <div class="card">
        <div class="img-container">
        <%= image_tag("temperate",class: "img") %>
        </div>
        <div class="text">
          <h1><%= planet.name %></h1>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<%# <%= image_tag(["temperate","murky","arid","artic","humid","rocky","tropical"].sample,class: "img") %>
