<%= render partial: 'layouts/navbar' %>
<div class="main-container">
  <div class="sidebar">
    <div class="nav-link">Catégorie 1</div>
    <div class="nav-link">Catégorie 2</div>
    <div class="nav-link">Catégorie 3</div>
    <div class="nav-link">Catégorie 4</div>
    <div class="nav-link">Catégorie 5</div>
    <div class="nav-link">Catégorie 6</div>
    <div class="nav-link">Catégorie 7</div>
    <div class="nav-link">Catégorie 8</div>
  </div>
  <div class="global">
    <div class="container-left">
      <div class="navbar-left"></div>
    </div>
    <div class="container-right">
      <div class="header">
        <h1>Planets#index</h1>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle w-50 rounded-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </button>
          <ul class="dropdown-menu w-50" aria-labelledby="dropdownMenuButton">
            <% @solar_systems.each do |solar_system| %>
              <li><%= solar_system.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="cards-container p-3">
        <%# <template id="planetcard"> %>
        <% @planets.each do |planet| %>
          <%= link_to planet_path(planet) do %>
          <div class="card">
            <div>
              <%= image_tag(["temperate","murky","arid","artic","humid","rocky","tropical"].sample,class: "img") %>
            </div>
            <div class="text">
              <h1><%= planet.name %></h1>
            </div>
          </div>
          <% end %>
        <% end %>
        <%# </template> %>
      </div>
    </div>
  </div>
</div>
