<div class="container-fluid bg-dark text-white d-flex align-items-start justify-content-center bgimage minvh">
  <div class="col-6 minmarj">
    <%= simple_form_for @planet, html: { class: "w-100" } do |f| %>
      <%= f.input :name, label: "Planet Name" %>
      <%= f.input :category_id, as: :select, collection: Category.all, label: "Category" %>
      <%= f.input :solar_system_id, as: :select, collection: SolarSystem.all, label: "Solar System" %>
      <%= f.input :content, label: "Content" %>
      <%= f.input :price_per_day, input_html: { min: 9999, value: 1000000 }, label: "Price per Day" %>
      <%= f.button :submit, "Create", id: "thebuttonnewplanet"%>
    <% end %>
  </div>
</div>
